<!doctype html>
<body>
  <form action="./delete" method="GET">
    <table border = 1>
      {% for i in mar %}
      <tr>
        <th>Name: {{ i }}</th>
      </tr>
      <tr>
        <th>Admission Number</th>
        <th>Marks</th>
      </tr>
      {% for a in mar[i] %}
      <tr>
        <td>{{ a['admno'] }}</td>
        <td>{{ a['marks'] }}</td>
        <td>
          <button>
          <a href = "http://localhost:5000/delete/{{ a['admno'] }}/{{ a['marks'] }}">DELETE</a>
          </button>
        </td>
          <td>
        <button>
{#        <a href = "http://localhost:5000/update/{{ a['admno'] }}/{{ a['marks'] }}">UPDATE</a>#}
        <a href = "http://localhost:5000/update?admno={{ a['admno'] }}&marks={{ a['marks'] }}&index={{ a['index'] }}">UPDATE</a>
        </button>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="3" style=" padding: 5px; border: none; "></td>
      </tr>
      {% endfor %}
    </table>
  </form>
</body>