<!DOCTYPE html>

   <head>
      <meta charset="UTF-8">
      <title>Marks</title>
   </head>
   <body>
      <h1>Delete Records</h1>
      <form method="POST" action="./delete">
         <input type="text" placeholder="admission number" name="admno">
         <br>
         <input type="text" placeholder="marks" name="marks">
         <br>
         <input type="text" placeholder="teacher id" name="id">
         <br>
         <input type="submit" name = 'add' value="delete">
      </form>
   </body>
</html>